* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

#logOn, #reset{
    display: block;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

#loginWindow{
    position: absolute;
    display: grid;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px;
    border: 2px green solid;
    border-radius: 50px;
}

#logged {
    width: 100vw;
    position: absolute;
    top: 5px;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: xx-large;
    text-transform: uppercase;
}

#boardChoice{
    position: absolute;
    display: grid;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 15px;
    border: 2px green solid;
    border-radius: 50px;
}

.choice{
    margin-top: 20px;
}

#sendBoardChoice{
    margin-top: 20px;
}

